@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
.display-flex{
    display: flex;
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* shared text color */
.text-primary{
    color: #FF900E;
}
.text-Dark-02{
    color: #424242;
}
.text-Dark-03{
    color: #727272;
}
/* navbar styles */
.navbar{
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
.navbar h3{
    font-size: 3rem;
    font-weight: 700;
}
.nav-links{
    gap: 40px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


.banner-titles{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-img{
    width: 100%;
}


.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.features-description{
    margin-top: 30px;
    margin-bottom: 30px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.features-title{
    font-size: 45px;
    font-weight: 700;
}
.hallo{
    max-width: 540px;
    margin-bottom: 100px;
    margin-top: 40px;
}
.features{
    gap: 140px;
}

#Features-you-will-love{
    border-left: 3px solid #FF900E;
    padding-left: 20px;
    font-size: 2.9rem;
    font-weight: 700;
    width: 468px;
    margin-top: 25px;
}
.feature-description{
    font-weight: 400;
    width: 586px;
    margin-bottom: 30px;
    margin-top: 25px;
}
.features-card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    height: 170px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.features-card h4{
    font-size: 1.25rem;
    font-weight: 600;
}
.features-card p{
    margin-top: 10px;
}
.btn-10-Year{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}
.Year{
    font-size: 4rem;
    font-weight: 700;
}
.Experience{
    font-size: 1.5rem;
    font-weight: 500px;
}
.fact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    width: 240px;
    gap: 10px;
    height: 240px;
    border-radius: 8px;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
}
.fact-name{
    font-size: 20px;
    font-weight: 600;
}
.sponsors-info{
    max-width: 540px;
    text-align: center;
    margin: 50px auto;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container, 
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container, 
    .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    .features-title{
        text-align: center;
    }
    .hallo{
        text-align: center;
    }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
}